BR2_arm=y
BR2_cortex_a9=y
BR2_ARM_ENABLE_NEON=y
BR2_ARM_ENABLE_VFP=y
BR2_ARM_FPU_VFPV3=y
BR2_DL_DIR="$(HOME)/Backup/Source/Buildroot/downloads"
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_KERNEL_HEADERS_4_9=y
BR2_BINUTILS_VERSION_2_31_X=y
BR2_GCC_VERSION_8_X=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_PACKAGE_HOST_GDB=y
BR2_PACKAGE_HOST_GDB_TUI=y
BR2_PACKAGE_HOST_GDB_PYTHON=y
BR2_GDB_VERSION_8_2=y
BR2_TARGET_GENERIC_GETTY_PORT="ttymxc0"
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_REACH_PATH)/board/reach/common/imx/overlay $(BR2_EXTERNAL_REACH_PATH)/board/reach/common/imx/overlay-pcap"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(BR2_EXTERNAL_REACH_PATH)/board/reach/common/imx/post-install.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="$(BR2_EXTERNAL_REACH_PATH)/board/reach/common/imx/post-image.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="git@github.com:jmore-reachtech/reach-imx-linux.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="da5e382e4bb1336f41cda196141043022751c906"
BR2_LINUX_KERNEL_PATCH="$(BR2_EXTERNAL_REACH_PATH)/board/reach/common/imx/kernel"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_REACH_PATH)/board/reach/common/imx/defconfig"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="imx6dl-g2h-7p"
BR2_LINUX_KERNEL_INSTALL_TARGET=y
BR2_PACKAGE_GDB=y
BR2_PACKAGE_DROPBEAR=y
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_TARGET_ROOTFS_EXT2_SIZE="512M"
BR2_TARGET_ROOTFS_UBIFS=y
BR2_TARGET_ROOTFS_UBIFS_LEBSIZE=0x1f000
BR2_TARGET_ROOTFS_UBIFS_MAXLEBCNT=4096
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_GIT=y
BR2_TARGET_UBOOT_CUSTOM_REPO_URL="git@github.com:jmore-reachtech/reach-imx-u-boot.git"
BR2_TARGET_UBOOT_CUSTOM_REPO_VERSION="a73394bf6373e239ad5dbe55e3f6dfbc734974be"
BR2_TARGET_UBOOT_PATCH="$(BR2_EXTERNAL_REACH_PATH)/board/reach/common/imx/u-boot"
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="reach_rd6_7p"
BR2_TARGET_UBOOT_FORMAT_IMX=y
BR2_PACKAGE_HOST_DOSFSTOOLS=y
BR2_PACKAGE_HOST_DTC=y
BR2_PACKAGE_HOST_GENEXT2FS=y
BR2_PACKAGE_HOST_GENIMAGE=y
BR2_PACKAGE_HOST_MTOOLS=y
BR2_TARGET_REACH_RELEASE="2019-01-1"
BR2_PACKAGE_FBLOGO=y
